
<div class="container">
<div class="jumbotron">
	<h2 class="text-center">Welcome to my website!!!</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

</div>







<div id="myBox" class="contrainer-fluid" style="margin-top: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<ul class="list-group">
					<ol class="breadcrumb" style="background-color: black"><a href="#" style="color: white">Category</a></ol>



		<%data.forEach(function(x){%>

			<li class="list-group-item"><a href="#">
			<%=x.category%></a></li>

			<%})%>

				</ul>
			</div>


	<div class="col-sm-9">
		<ol class="breadcrumb" style="background-color: #000; color: #FFF !important;">
					<li>Popular Items</li>
		</ol>
		
		<div class="row">

			<%data1.forEach(function(x){%>

		<div class="col-sm-4">


		<div class="panel panel-default">
			<div class="panel-heading">

			<h4><%=x.productname%><small><br>(Rs.<%=x.productprice%>)</small></h4>
			</div>

<div class="panel-body">
	<img src="/product_image/<%=x.image%>" height="250" width="250" />
</div>
	<div class="panel-footer">
		<button class="btn btn-primary btn-sm">Buy</button>
		<button class="btn btn-info btn-sm">Add To Cart</button>
	</div>
</div>
</div>

	<%})%>

				</div>

				</div>

				
		</div>
	</div>
</div>
<div class="contrainer-fluid">
	<div class="container">
	</div>
</div>







                      
</body>
</html>

