

<div class="container">
<div class="breadcrumb">
<h3 class="text-center">For any complaint please call on: <%=a%></h3>
</div>
</div>


<div class="container">
	<div class="breadcrumb">
		<h2 class="text-center">How May I Help U!!!!</h2>
	</div>
	<p><b>Q.Is ordering online secure?</b><br>
<b>A.</b> Yes. We take the utmost care with the information that you provide us when placing an order on our website (or through any other means).  The server that hosts our bookstore encrypts the transmission of all credit card and personal customer information using the Internet-standard SSL (Secure Sockets Layer) protocol.  During the encryption process, information is scrambled into small bits of code that cannot be read as they travel to us over the Internet. Once we receive the encrypted information, we use a private, one-of-a-kind key to decode it.  

All of the information you provide during the ordering process is restricted to our staff, and we make sure that all of our employees up-to-date on our security and privacy policies.  If you have further questions about the security of ordering online from the Worldwatch Institute, please feel free to e-mail us at </p><br><br>

<p><b>Q. How do I gain access to your free PDFs?</b><br>
<b>A.</b> On the Research section of our website, you will see a link to our freely downloadable PDFs, as well as to many other free articles and presentations. For the PDFs, click on the publication you are interested in downloading, then scroll to the bottom of that item's page. Here, you will need to enter your e-mail address to validate that you are registered with the Worldwatch Institute website. If you are already registered, the download will begin. If you are not registered you will be given a link to the Worldwatch registration page. Once you have completed the registration form, you will have access to the complete library of free Worldwatch Institute publications in PDF format.</p>
</div>