<div class="container">
<div class="well">
<h3 class="text-center">Update Information</h3>
</div>
</div>

<form method="post" action="/user/update_info">
<div class="form-group">
	<label>FULLNAME</label>
	<input type="text" name="full_name" value="<%=data.full_name%>" class="form-control">
</div>

<div class="form-group">
	<label>MOBILE NUMBER</label>
	<input type="text" name="mobilenumber" value="<%=data.mobilenumber%>" class="form-control">
</div>

<div class="form-group">
	<label>ADDRESS</label>
	<input type="text" name="address" value="<%=data.address%>" class="form-control">
</div>

<div class="form-group">
	<label>GENDER</label>
	Male<input type="radio" <%if(data.gender == "male"){%> checked="checked" <%}%> name="gender" value="male" >
	Female<input type="radio" <%if(data.gender == "female"){%> checked="checked" <%}%>  name="gender" value="female">
</div>

<div class="form-group">
	<label>CITY</label>
	<select class="form-control">
<option>Select City</option>
<option <%if(data.city == "Indore"){%> selected = "selected" <%}%>>Indore</option>

<option <%if(data.city == "Mumbai"){%> selected = "selected" <%}%>>Mumbai</option>

<option <%if(data.city == "Pune"){%> selected = "selected" <%}%>>Pune</option>

<option <%if(data.city == "Banglore"){%> selected = "selected" <%}%>>Banglore</option>
	</select>
</div>
<button class="btn btn-primary" type="submit">UPDATE</button>


</form>
