
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
	<div class="panel panel-primary" >
	<div class="panel-heading" ><h2>Signup</h2></div>
	<div class="panel-body" >
<form class="form-horizontal" method="post" action="/signup">
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Full Name</label>
		</div>
		<div class="col-sm-8">
			<input type="text" name="full_name" placeholder="Fullname" class="form-control">
			
		</div>

	</div>

	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">User Name</label>
		</div>
		<div class="col-sm-8">
			<input type="text" name="username" placeholder="Username" class="form-control">
			
		</div>

	</div>

	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Mobile number</label>
		</div>
		<div class="col-sm-8">
			<input type="text" name="mobilenumber" placeholder="Mobile no." class="form-control">
			
		</div>

	</div>


	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Password</label>
		</div>
		<div class="col-sm-8">
			<input type="password" name="password" placeholder="password" class="form-control">
			
		</div>

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Re-Password</label>
		</div>
		<div class="col-sm-8">
			<input type="password" placeholder="password" class="form-control">
			<p>Passwords must be at least 6 characters.
</p>
			
		</div>

	</div>

<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Address</label>
		</div>
		<div class="col-sm-8">
			<textarea class="form-control" placeholder="Address" name="address"></textarea>
			
		</div>

	</div>

	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Gender</label>
		</div>
		<div class="col-sm-8">
			<input type="radio" name="gender" value="male">Male
			<input type="radio" name="gender" value="Female">Female
			
		</div>

	</div>

	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">City</label>
		</div>
		<div class="col-sm-8">
			<select class="form-control" name="city">
			<option>Select City</option>
			<option>Pune</option>
			<option>Indore</option>
			<option>Mumbai</option>
			<option>Banglore</option>
			</select>
			
		</div>

	</div>
	<p>We will send you a text to verify your phone.<br>
Message and Data rates may apply.</p>

<button class="btn btn-info  btn-block" type="submit" > continue</button>
	</form>
	
	</div>
	<div class="panel-footer" >
		<p>Already have an account??
		<a href="#myModal" data-toggle="modal">Log in</a></p>
	</div>
	</div>
	</div>
</div>

