<div class="container">
<div class="col-sm-8 col-sm-offset-2">
	<div class="panel panel-primary" >
	<div class="panel-heading" ><h2>Registration</h2></div>
	<div class="panel-body" >
		<form class="form-horizontal">
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">First Name</label>
		</div>
		<div class="col-sm-8">
			<input type="text" name="firstName" placeholder="First name" class="form-control">
			
		</div>

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Last Name</label>
		</div>
		<div class="col-sm-8">
			<input type="text" name="lastName" placeholder="Last name" class="form-control">
			
		</div>

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Mobile number</label>
		</div>
		<div class="col-sm-8">
			<input type="text" name="Mobile" placeholder="Mobile no." class="form-control">
			
		</div>

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label"> Email </label>
		</div>
		<div class="col-sm-8">
			<input type="Email" name="Email" placeholder="Email" class="form-control">
			
		</div>

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Password</label>
		</div>
		<div class="col-sm-8">
			<input type="password" name="password" placeholder="password" class="form-control">
			<p>Passwords must be at least 6 characters.
</p>
			
		</div>


	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Confirm Password</label>
		</div>
		<div class="col-sm-8">
			<input type="confirmPassword" name="password" placeholder="Confirm password" class="form-control">
			<p>Passwords must be at least 6 characters.
</p>
			
		</div>
		

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Address</label>
		</div>
		<div class="col-sm-8">
			<textarea placeholder="Address" name="Address" class="form-control">Address</textarea>
			
			
		</div>
		

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">DOB</label>
		</div>
		<div class="col-sm-8">
			<input type="date" name="DOB" placeholder="DOB" class="form-control">
			
		</div>

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">Gender</label>
		</div>
		<div class="col-sm-8">
			<input type="radio" name="gender" value="male" checked> Male
  <input type="radio" name="gender" value="female"> Female
			
			
		</div>
		

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">State</label>
		</div>
		<div class="col-sm-8">
			
<select class="form-control" name="State">
  <option >Select State</option>
  <option >Mp</option>
  <option >Maharashtra</option>
  <option >Rajsthan</option>
  <option >Gujrat</option>
  <option >Chenai</option>
</select>
			
		</div>
		

	</div>
	<div class="form-group">
	
		<div class="col-sm-4">
			<label class="control=label">City</label>
		</div>
		<div class="col-sm-8">
			
<select class="form-control" name="City">
  <option >Select City</option>
  <option >Indore</option>
  <option >Bhopal</option>
  <option >Ujjain</option>
  <option >khandwa</option>
  <option >dewas</option>
</select>
			
		</div>
		

	</div>
	<p>We will send you a text to verify your phone.<br>
Message and Data rates may apply.</p>

	
	<button class="btn btn-info  btn-block" type="submit" > Register</button>
	
	</div>
	</form>
	
	</div>
	</div>
</div>
